#header {
  padding: 0 3% 0 2%;
  justify-content: space-between;
}

.header,
.header__nav,
.header__menu {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}

.nav__buttons,
.nav__input,
.menu__icons,
.menu__user,
.buttons__btn {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav__buttons img,
.nav__input,
.menu__icons {
    width: 12px;
}

.header__nav {
    width: 47%;
}

.nav__buttons {
    width: 5%;
    justify-content: space-between;
    gap:8px;
}

.buttons__btn {
    background: none;
    border: none;
    cursor: pointer;
}

.nav__input {
    width: 95%;
    height: 100%;
    margin: 0px 16px;
}

.input__searchbar {
    background-color: var(--backgroundColor);
    border-radius: 16px;
    height: 35%;
    width: 100%;
    border: 1px solid var(--inputColor);
    padding: 16px 36px;
    color: var(--inputFontColor);
}

.input__image--left,
.input__image--right {
    height: 15px;
    width: 15px;
    position: relative;
}

.input__image--left {
    left: 25px;
}

.input__image--right {
    right: 25px;
    width: 17px;
}

.header__menu {
    width: 53%;
    justify-content: right;
}

.menu__icons {
    width: 110px;
    gap: 35px;
}

.icons__anchor img {
    width: 22px;
    height: 22px;
}

.menu__user {
    cursor: pointer;
    width: 164px;
    color: white;
    justify-content: space-between;
    gap: 20px;
}

.user__picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 4px;
    border-style: solid;
    border-color: var(--userBorderFullColor) var(--userBorderEmptyColor) var(--backgroundColor)
    var(--userBorderFullColor);
    border-width: 3px 3px 3px 3px;
}

.info__name {
    font-size: 16px;
    color: var(--userFontColor);
}

.info__level {
    font-size: 14px;
    color: var(--levelFontColor);
}

@media (max-width: 1250px) {
  .menu__user {
    width: 60px;
  }

  .header__nav {
    width: calc(80% - 160px);
  }

  .header__menu {
    width: 160px;
  }

  .user__picture {
    width: 45px;
    height: 45px;
  }

  .user__info {
    display: none;
  }

  .nav__buttons {
    display: none;
  }

  .nav__input {
    margin: 0;
  }
}

@media (max-width: 540px) {
  .header__nav {
    width: calc(100% - 160px);
  }
}

@media (max-width: 280px) {
  .header__nav {
    width: calc(100% - 124px);
  }

  .header__menu {
    width: 124px;
  }

  .menu__icons {
    width: 64px;
    gap: 10px;
    padding: 0 5px;
  }

  .nav__input {
    width: 100%;
  }
}