:root {
  --backgroundColor: #191a1f;
  --scrollColor: #2c2d35;
  --scrollButtonColor: #707387;
  --titleColor: #fff;
  --cardColor: #3a3d48;
  --cardHoverColor: #2c2d35;
  --cardTextColor: #65687a;
}

.parties__organizer {
  padding: 0 2%;
}
.organizer__titleAndScroll,
.titleAndScroll__scrollBar {
  display: flex;
}

.organizer__titleAndScroll {
  align-items: center;
  padding: 40px 2% 30px 2%;
  gap: 20px;
}

.titleAndScroll__title {
  color: var(--titleColor);
  font-size: 24px;
}

.titleAndScroll__scrollBar {
  align-items: center;
  width: 15%;
  height: 3px;
  background-color: var(--scrollColor);
}

.scrollBar__switch {
  margin-left: 20px;
  width: 32px;
  height: 14px;
  border-radius: 8px;
  background-color: var(--scrollButtonColor);
}

.organizer__cards,
.card__top,
.card__bottom,
.card__top .top__watchTogether {
  display: flex;
}

.organizer__cards {
  width: 100%;
  height: 190px;
  gap: 30px;
  justify-content: space-between;
  overflow-x: scroll;
  padding: 10px;
}

.cards__card {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  min-height: 145px;
  max-width: 325px;
  min-width: 170px;
  flex: 1;
  gap: 25px;
  padding: 25px;
  border-radius: 16px;
  background-color: var(--cardColor);
  overflow-y: hidden;
  text-decoration: none;
}

.cards__card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  background-color: var(--cardHoverColor);
}

.card__top {
  justify-content: space-between;
  height: 50px;
}

.top__movieCover {
  width: 50px;
  height: 50px;
  border-radius: 12px;
}

.card__top .top__watchTogether {
  position: relative;
  width: 60px;
}

.watchTogether__watcher {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.watchTogether__watcher-1 {
  z-index: 1;
  right: 35px;
}

.watchTogether__watcher-2 {
  z-index: 2;
  right: 20px;
}

.watchTogether__watcher-3 {
  z-index: 3;
  right: 0px;
}

.card__bottom {
  flex-direction: column;
  height: 56px;
  gap: 10px;
}

.bottom__title {
  font-size: 14px;
  color: var(--titleColor);
}

.bottom__description {
  max-width: 180px;
  max-height: 35px;
  font-size: 12px;
  color: var(--cardTextColor);
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
